/* Estilo body */
body{
    background-image: url('../images/avatar/fondo_2.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 100vh;
}

@media only screen and (max-width: 1080px) {
    body {
        background-size: 100% 150%;
    }
    .avatarSelect img{
        width: 24%;
        height: 40vh;
    }
}
/*  */

/*-------------- Estilo menu principal -------------------*/
.navAvatar{
    background-image: url('../images/avatar/navbar.png');
    background-size: cover;
    background-repeat:no-repeat;
    opacity: 0.9;
    font-family: 'Bungee', cursive;
    font-size: 20px;
    color: #ffffff;
    position: relative;
}

@media only screen and (max-width: 800px){
    .navAvatar{
        background-image: url('../images/fondo/Fondo.png');
    }
    #navbarNavAltMarkup{
        margin-left:0px;
    }
    .navAvatar p{
        margin-top: 0px;
    }
    .currentNav{
        margin:0 0px 0 0px;
        border-left: 0px;
        border-right: 0px;
    }
    
    .currentNav p{
        padding-left: 0px;
        padding-right: 0px;
    }
}

#navbarNavAltMarkup{
    margin-left:23%;
}

.navAvatar p{
    margin-top: 25px;
}

.avatarSelected{
    width: 90px;
    height: 90px;
    margin-right: 90px;
    position: relative;
    border-radius: 100px;
    background: #ffffff;
}

.avatarSelected img{
    margin-left: 10px;
    height: auto;
}

.currentNav{
    margin:0 60px 0 60px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.currentNav img{
    margin:15px 0px 0px 20px;
    position: absolute;
    z-index: 1;
}

.currentNav p{
    padding-right: 80px;
    padding-left: 85px;
    padding-top: 10px;
    font-size: 25px;
}

/* footer copyright */
.footer img{
    right: 0;
    bottom: 0;
    float: right;
}

/* ---------------------------------------------------------- */

.avatarSelect{
    background-image: url('../images/avatar/fondo_2.png');
    background-repeat:no-repeat;
    background-size: 100% 50vh;
    margin-top: 5%;
}

.avatarSelect img{
    width: 24%;
    height: 40vh;
    transition: transform 0.2s;
}

.avatarSelect img:hover{
    transform: scale(1.03,1.03);
}

.avatarDesc{
    margin-top: 5%;
}

.avatarDesc h2{
    text-align: center;
    font-family: 'Bungee', cursive;
}

.avatarDesc p{
    color: #180199;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
    font-size: 15px;
}

.btnAvatar, .btnContinue{
    font-family: 'Bungee', cursive;
    background-image: url('../images/fondo/Fondo.png');
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 8px 9px 17px -4px rgba(0,0,0,0.75);
    padding:5px 10px;
    color:#ffffff;
    margin-left: 33%;
    margin-top: 5%;
}

.btnAvatar:focus, .btnContinue:focus{
    outline:none !important;
    outline-width: 0 !important;
}

.footer img{
    position: absolute;
    width: 220px;
}

@media only screen and (max-width:960px){
    .footer img{
        position: relative;
    }
}