body{
    background-image: url('../images/avatar/fondo_2.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 1000px;
}

/* @media only screen and (max-width: 1080px) {
    body {
        background-size: 100% 150%;
    }
} */

.videoLoad{
    width: 100%;
    height: auto;
}

.content{
    margin:2%;
}

.title{
    font-family: 'Bungee', cursive;
}

.subTitle{
    font-family: 'Leckerli One', cursive;
    color:#ffff4d;
    font-size:20px;
}

#questionEscucha, #questionVista{
    font-style: italic;
    font-size:17px;
}

.answer{
    border:3px solid #f3f3f3;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
    width:100%;
    color: #ffffff;
    font-style: italic;
}

.answer:focus{
    outline:none !important;
    outline-width: 0 !important;
}

.btnSend, .btnContinue{
    background-image: url('../images/avatar/Fondo.png');
    background-size: cover;
    padding:5px;
    width:150px;
    margin:auto;
    font-family: 'Bungee', cursive;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    margin-top:10px;
    box-shadow: 8px 9px 17px -4px rgba(0,0,0,0.75);
}

.btnSend:focus, .btnContinue:focus{
    outline:none !important;
    outline-width: 0 !important;
}

/* Estilo Reproductor de audio */
div.audio audio{
    width: 100%;
    margin-top: 3%;
}

/* Estilo recompensas*/

#success{
    font-style: italic;
    font-size: 18px;
}

.btnReflexion{
    padding:15px;
    background: #7136a1;
    color:white;
    border:0px;
    border-radius: 5px;
    width: 100%;
    font-size:30px;
    margin-top: 10px;
}
.btnReflexion:focus{
    background: #7136a1;
}

.avatarLoaded img{
    position: absolute;
    width: 33%;
    bottom: 0;
    left:0;
}

.trophyEscucha img{
    position: absolute;
    width: 25%;
    left:35%;
    margin-top:20px;
}


