body{
    background-image: url('../images/fondo/Fondo2-sentidos.png');
    background-size: cover;
    background-repeat:no-repeat;
    /* background-size: 100% 110%; */
    background-size: 100% 100vh;
}

@media only screen and (max-width: 800px) {
    body {
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 960px) {

    body {
        background-size: 100% 100%;
    }

    iframe{
        height: 280px;
    }
}

.videoLoad{
    width: 100%;
    height: auto;
}
.contentMusica{
    margin:3%
}

.title{
    font-family: 'Bungee', cursive;
}

.subTitle{
    font-family: 'Leckerli One', cursive;
    color:#ffff4d;
    font-size:20px;
}

#questionEscucha, #questionVista{
    font-style: italic;
    font-size:17px;
}

.answer{
    border:3px solid #f3f3f3;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
    width:100%;
    color: #ffffff;
    font-style: italic;
}

.answer:focus{
    outline:none !important;
    outline-width: 0 !important;
}

.btnSend, .btnContinue{
    background-image: url('../images/avatar/Fondo.png');
    background-size: cover;
    padding:5px;
    width:150px;
    font-family: 'Bungee', cursive;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    margin-top:10px;
    box-shadow: 8px 9px 17px -4px rgba(0,0,0,0.75);
}

.btnSend:focus, .btnContinue:focus{
    outline:none !important;
    outline-width: 0 !important;
}

/* Estilo Reproductor de audio */
div.audio audio{
    width: 100%;
    margin-top: 3%;
}

/* Estilo recompensas*/

#success{
    font-style: italic;
    font-size: 16px;
}

.btnReflexion, .btnRecompensa{
    padding:15px;
    background: #7136a1;
    color:white;
    border:0px;
    border-radius: 5px;
    width: 100%;
    font-size:30px;
    margin-top: 10px;
}
.btnReflexion:focus, .btnRecompensa:focus{
    background: #7136a1;
}

/* .avatarLoaded{
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
    left:0;
}
.avatarLoaded img{
    bottom: 0;
    left:0;
    width: 50%;
} */


.footer img{
    position: absolute;
    width: 220px;
}

@media only screen and (max-width: 960px) {
    .footer img{
        position: relative;
    }
}


