body{
    background-image: url('../images/avatar/fondo_2.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 110%;
}

#videoEscucha{
    width: 100%;
    height: auto;
}

.contentEscucha{
    margin:2%;
}

.titleEscucha{
    font-family: 'Bungee', cursive;
}

.subTitleEscucha{
    font-family: 'Leckerli One', cursive;
    color:#ffff4d;
    font-size:20px;
}

#questionEscucha{
    font-style: italic;
    font-size:20px;
}

.answerEscucha{
    border:3px solid #f3f3f3;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px;
    width:100%;
    color: #ffffff;
    font-style: italic;
}

.answerEscucha:focus{
    outline:none !important;
    outline-width: 0 !important;
}

.btnSendEscucha, .btnContinueEscucha{
    background-image: url('../images/avatar/Fondo.png');
    background-size: cover;
    padding:5px;
    width:60%;
    margin:auto;
    font-family: 'Bungee', cursive;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    margin-top:20px;
    box-shadow: 8px 9px 17px -4px rgba(0,0,0,0.75);
}
