*{
	padding: 0;
	margin: 0;
}

body{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../images/fondo/Fondo.png');
    background-size:cover; 
    background-size: 100% 100vh;
	overflow: hidden;
}

/*Imagen Pirata*/
section .avatar img{
	position: absolute;
	width: 36%;
	bottom: 0;
	left: 0;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
}

section .faro img{
    position: absolute;
	width: 30%;
	bottom: 0;
	right: 0;
	opacity: 1;
	animation-delay: 0s;
}

@media only screen and (max-width: 1080px) {
  	section .avatar img{
		width: 30%;
    }	
    
    section .faro img{
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    section .avatar img{
        width: 50%;
    }	
    section .faro img{
        width: 50%;
    }

    section .wave.wave1{
        height: 20px;
        background-size: 1000px 20px;
    }
    section .wave.wave2{
        height: 20px;
        background-size: 1000px 20px;
    }
    section .wave.wave3{
        height: 20px;
        background-size: 1000px 20px;
    }
}

/*-----------------------------------------------------*/

/*Load Background and config*/

section .wave.wave1{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12vh;
	background: url('../images/olas/wave_1.png');
	background-size: 1000px 12vh;
}

section .wave.wave2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12vh;
	background: url('../images/olas/wave_2.png');
	background-size: 1000px 12vh;
}

section .wave.wave3{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12vh;
	background: url('../images/olas/wave_3.png');
	background-size: 1000px 12vh;
}

/*---------------------------------------------------------*/

/*Load waves animation */

/* body{
    animation: animateBackground 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0; 
} */

section .wave.wave1{
	animation: animateWave 5s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0; 
}

section .wave.wave2{
	animation: animateWave2 5s linear infinite;
	z-index: 999;
	opacity: 1;
	animation-delay: -5s;
	bottom: 10px; 
}

section .wave.wave3{
	animation: animateWave3 5s linear infinite;
	z-index: 998;
	opacity: 1;
	animation-delay: -2s;
	bottom: 0px; 
}

@keyframes animateWave{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: 1000px;
	}
}

@keyframes animateWave2{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: -1000px;
	}
}

@keyframes animateWave3{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: 1000px;
	}
}

/* @keyframes animateBackground{
    0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: 1000px;
	}
} */

/*---------------------------------------------------------*/