body{
    background-image: url('../images/fondo/Fondo2-sentidos.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 130%;
}

.contentSentidos{
    background:#ffffff;
    padding: 10px;
}

.contentSentidosDesc{
    width: 90%;
    margin-top: 2%;
    float: left;
}

.contentSentidosDesc h1{
    font-size: 20px;
}


.contentSentidosImg img{
    width: 110px;
    height: 450px;
    padding:10px 0px;
    float: left;
    transition: transform 0.2s;
}

@media only screen and (max-width: 1020px) {
    .contentSentidosImg img{
        width: 80px;
        height: 300px;
    } 
}

@media only screen and (max-width: 600px) {
    .contentSentidosImg img{
        width: 50px;
        height: 300px;
    } 
}

@media only screen and (max-width: 960px) {
    .contentSentidosImg img{
        width: 50px;
        height: 300px;
    } 

    body {
        background-size: 100% 100%;
    }
}

div.device{
    display: none;
    padding: 20px;
    margin: 50% 10%;
    font-size: 50px;
    width: 80%;
}

div.device img{
    width:100%;
}

.contentSentidosImg img:hover{
    transform:scale(1.02,1.02);
}

.btnContinue{
    background-image: url('../images/avatar/Fondo.png');
    background-size: cover;
    padding:5px;
    width:150px;
    margin:auto;
    font-family: 'Bungee', cursive;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    margin-top:10px;
    box-shadow: 8px 9px 17px -4px rgba(0,0,0,0.75);
}

.btnContinue:focus{
    outline:none !important;
    outline-width: 0 !important;
}

/* Estilo reflexion */
.videoLoad{
    width: 100%;
    height: auto;
}

.content{
    margin:1%;
}

.title{
    font-family: 'Bungee', cursive;
}

.subTitle{
    font-family: 'Leckerli One', cursive;
    color:#ffff4d;
    font-size:23px;
}

.btnContinue{
    background-image: url('../images/avatar/Fondo.png');
    background-size: cover;
    padding:5px;
    width:150px;
    margin:auto;
    font-family: 'Bungee', cursive;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20%;
    margin-top:10px;
    box-shadow: 8px 9px 17px -4px rgba(0,0,0,0.75);
}

.btnContinue:focus{
    outline:none !important;
    outline-width: 0 !important;
}

p.reflexion{
    font-style: italic;
    font-size: 18px;
}

.footer img{
    position: relative;
    width: 220px;
    bottom:0;
    z-index: 1;
}

