

.btnSendTacto{
    padding:15px;
    background: #7136a1;
    color:white;
    border:0px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    margin:5px 20px;
}

.content{
    margin:10px 3%;
}

.contentTacto{
    background: #ffffff;
    padding:10px;
}

.contentTacto img{
    width: 55%;
    right:20%;
    margin-left:20%;
}

@media only screen and (max-width: 960px) {
    
    body{
        background-size: 100% 100%;
    }
    .footer img{
        position: relative;
        margin-top: 10px;
    }
}
